* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background-page);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
}

#root {
  width: 1400px;
  height: 900px;
  overflow: hidden;
  margin: 0 auto;
}

